 <!DOCTYPE html>
 <html lang="en"> 
   <head th:replace="student/index :: head"> 
   </head>
   <body>
     <!-- header starts -->
     <nav    th:replace="student/index :: menu">
    
     </nav>
<section class="ftco-section contact-section cta page-main">
          <div class="container" data-aos="zoom-out">

                <div class="row g-5">
              <div class="card mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                   <h2 class="m-0 font-weight-bold text-primary">View Job Post</h2>
                   <div class="row text-success h4" th:text="${applied == ''?'':(' Applied on '+applied) }"></div>
                  </div>  
                    
                <div class="card-body"> 

		<div class="form-group"> 
			<h5  th:text="${tobj.jobtitle}"></h5>
		</div>
		 <div class="form-group"> 
			<p th:utext="${tobj.description}"></p>
		</div>
	<div class="form-group">
			<label  class="control-label">Location: <span  th:text="${tobj.location}"></span></label>
	 	</div>
		<div class="form-group">
			<label   class="control-label">Period: <span  th:text="${tobj.fromdate+' '+tobj.todate}"></span></label>
	 	</div>
			 <div class="form-group">
			<label   class="control-label">CTC: <span  th:text="${tobj.minimumsalary+' - '+tobj.maximumsalary}"></span></label>
	 	</div>
			 <div class="form-group">
			<label   class="control-label">Min.Required Score(%): <span  th:text="${tobj.requiredscore}"></span></label>
	 	</div>
		</div>
		<br/>
		<br/>
		
		<div class="row">
		<h3>Applicapable to</h3> 
	  
		<h4>Branch-Courses:</h4>
		<br/>
		<div class="row mb-3">
		  <div th:each="d:${branch}">
		   <div class="col-12">
			<h5  class="control-label" th:text="${d}">To</h5> 
		 </div>
		</div>
		</div>
		 
                </div> 
                <br/>
		<h4>Academic Year</h4>
		<hr/> 
		<div class="col-3" th:each="e:${academicyear}">
			 
			   <label th:text="${e}"></label>
			 </div> 
			 <br/>
			 		<h4>Skills Required:</h4>
		<hr/> 
		<div class="col-3" th:each="e:${skill}">
			 
			   <label th:text="${e}"></label>
			 </div> 
			   <br/>
			 		<h4>Interview Rounds:</h4>
		<hr/> 
		<div class="col-3" th:each="e:${placementrounds}">
			 
			   <label th:text="${e}"></label>
			 </div> 
                </div> 
                 <div class="row" th:if="${applied =='' }">
                <form action="/student/applyjobpost" method="post" id="frmapply">  
                   <input type="hidden" name="id" th:value="${tobj.id}">
                                <button class=" w-50 m-auto btn btn-primary">Apply</button>  
                </form>
                  </div>
                  
              </div>
            </div> 
            
          <!--Row-->
    </section>
     
     <!-- ======= Footer ======= -->
     <footer  th:replace="student/index :: footer"> 
     
     </footer>  
    <script>
    $(document).ready(function () { 
     
   	$("#frmapply").off( "submit");
	   $("#frmapply").submit(function(e) {

		   
	      e.preventDefault(); // avoid to execute the actual submit of the form.

	      var form = $(this);
	      var url = form.attr('action');
	       
	      var data=form.serialize(); 
	      $.ajax({
	             type: "POST",
	             url: $(this).attr("action"),  
	             data:data , // serializes the form's elements.
	   		    dataType: "json",
	             success: function(data)
	             {
	   		      if(data.success)
	                  {
	   		   	   		
	   		    	     alert_toast(data.message,'success'); 
	   		   	   		   document.location.reload();
	                  } // show response from the php script.
	   			  else
	   				  {
	   				alert_toast(data.message,'error'); // show response from the php script.  
	   				  }
	   		  
	   		      }
	           });
	   		     }); 
   	 });  
    </script>
</body>

</html>